@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;   
}

.sidebar{
    position : fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331; 
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background : #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;   
}

.content {
    justify-content: center;
    padding-top: 150px;
    
  }

  h1 {
    color: #333;
    font-size: 42px;
    margin-bottom: 10px;
    padding-left: 700px;
    padding-top: 10px;
  }

  p {
    color: #555;
    font-size: 25px;
    line-height: 1.5;
    padding-left: 500px;
    padding-right: 200px;
  }

section{
    background: url(img1.jpg) no-repeat;
    background-position: center; 
    background-size : cover;
    height: 100vh;
}